/* About Section Styles */
.about {
  background: rgba(
    255,
    255,
    255,
    0.65
  ); /* lighter and more transparent for overlap */
  padding: var(--space-xxl) var(--space-sm);
}
[data-theme='dark'] .about {
  background: rgba(34, 34, 34, 0.65);
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  color: var(--text-color);
  text-align: center;
}
.certifications,
.languages {
  margin-top: var(--space-lg);
}
.certifications h3,
.languages h3,
.skill-card > h3 {
  color: #14508e !important;
  font-size: var(--font-size-h4);
  margin-bottom: var(--space-xs);
}
